node_modules
data/
**/public/
temp/
keys/
mongo-config/
!backend/public/
!backend/public/defaults/
!backend/public/defaults/**
backend/public/images
backend/public/videos

.env
host_nginx_example.conf