services:
    # MongoDB Service
    mongodb:
        image: mongo:latest
        container_name: social-media-app-mongodb
        volumes:
            - ./data/db:/data/db
            - ./mongo-config:/data/configdb
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
            MONGO_INITDB_DATABASE: ${DB_NAME}
        networks:
            - app_network
        restart: unless-stopped

    # Express Backend Service
    express:
        # image: ghcr.io/${GITHUB_REPO_OWNER}/${GITHUB_REPO_NAME}/backend:latest
        image: backend:latest
        container_name: social-media-app-express
        volumes:
            - ./public:/app/public
            - ./temp:/app/temp
            - ./keys:/app/keys
        depends_on:
            - mongodb
        env_file:
            - .env
        networks:
            - app_network
        restart: unless-stopped

    # React Frontend Service
    react:
        # image: ghcr.io/${GITHUB_REPO_OWNER}/${GITHUB_REPO_NAME}/frontend:latest
        image: frontend:latest
        container_name: social-media-app-react
        ports:
            - "127.0.0.1:3001:80"
        depends_on:
            - express
        volumes:
            - ./public:/app/public
        networks:
            - app_network
        restart: unless-stopped

networks:
    app_network:
        driver: bridge
        name: social-media-app-network
