.footer__feedback {
	@apply mt-4 md:mt-0;
}

.feedback-form__group {
	@apply w-full px-8 mb-3;
}

.feedback-form__label {
	@apply block text-sm mb-1;
}

.feedback-form__control {
	@apply w-full p-2 bg-black border-slate-300 border-2 rounded-md resize-none;
}

.feedback-form__valid {
	@apply flex items-center text-xs text-red-500;
}

.feedback-form__group button {
	@apply w-full p-2 rounded-md bg-black border-slate-300 border-2 active:bg-white active:text-black;
}
