.footer {
	@apply h-fit bg-black text-white pb-5;
}

.footer__content {
	@apply md:flex;
}

.footer__content .footer__contact {
	@apply w-screen 
            text-2xl 
            flex justify-center items-center 
            md:justify-end
            md:w-1/3 
            md:[border-image:linear-gradient(transparent_20%,white_20%_80%,transparent_80%)_0_1_0_0_/_2px];
}

.footer__contact * {
	@apply m-3;
}

.footer__contact *:last-child {
	@apply md:mr-16;
}

/*
    [border-image:linear-gradient(transparent_20%,white_20%_80%,transparent_80%)_0_1_0_0_/_2px]

    linear-gradient(transparent_20%,white_20%_80%,transparent_80%):
        linear-gradient(...): Tạo ra một gradient tuyến tính.
        transparent_20%: Màu trong suốt (transparent) từ điểm bắt đầu đến 20% chiều dài của gradient.
        white_20%_80%: Màu trắng (white) từ 20% đến 80% chiều dài của gradient.
        transparent_80%: Màu trong suốt từ 80% đến điểm cuối của gradient.
        Kết quả: Gradient này sẽ tạo ra một border với màu trắng ở giữa và trong suốt ở hai đầu.
    
    0_1_0_0:
        Đây là thuộc tính border-image-slice, xác định cách mà hình ảnh (hoặc gradient) sẽ được cắt và áp dụng cho các cạnh của border.
        Các giá trị này tương ứng với:
        0: Cắt không ở cạnh trên.
        1: Cắt không ở cạnh phải.
        0: Cắt không ở cạnh dưới.
        0: Cắt 1px ở cạnh trái.
        Các giá trị này chỉ định số pixel mà bạn muốn cắt từ mỗi cạnh của hình ảnh (hoặc gradient).
    
    _/_2px:
        Đây là thuộc tính border-image-width, xác định độ dày của border.
        2px có nghĩa là border sẽ có độ dày 2 pixel.
*/
.footer__content .footer__feedback {
	@apply w-screen 
            md:w-1/3 
            md:[border-image:linear-gradient(transparent_20%,white_20%_80%,transparent_80%)_0_1_0_0_/_2px];
}

.footer__content .footer__author {
	@apply flex flex-col items-center justify-center mt-9 md:mt-0 md:ml-16 md:items-start 
            
            w-screen 
            md:w-1/3;
}
