.navbar {
	@apply w-screen h-16 
            flex 
            md:justify-around;
}

.navbar__search {
	@apply flex 
            relative 
            m-2 ml-10;
}

.search__icon {
	@apply flex items-center 
            absolute left-[5px] top-[25%] 
            text-2xl;
}

.navbar__search .search__field {
	@apply pl-9 
            outline-none 
            border-b-2 border-b-transparent;
}

.search__field:hover,
.search__field:focus {
	@apply border-b-black;
}

.navbar__btn {
	@apply ml-auto mx-6 
            text-3xl 
            md:hidden z-20;
}

.navbar__nav {
	@apply w-full h-screen fixed top-0 bg-white 
            md:h-auto md:w-fit md:flex md:relative md:translate-x-0
            translate-x-full z-10;
}

.navbar__nav.navbar__nav--animating {
	@apply transition-transform duration-300 ease-in-out;
}

.navbar__nav.navbar__nav--visible {
	@apply translate-x-0;
}

.navbar__nav li:first-child {
	@apply mt-16 md:mt-0;
}

.navbar__nav li {
	@apply text-center text-lg p-9 md:p-0 uppercase md:flex md:items-center md:mx-6;
}
